body {
    background: url("http://dash.ga.co/assets/anna-bg.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}
p {
    font-size: 22px;
}
input {
    padding: 8px;
    font-size: 18px;
    border: none;
}
input[type="submit"] {
    background-color: red;
    color: white;
}